body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
}

.btn {
    z-index: 1;
    background-color: #dcdcdc;
}

.navbar {
    background-color: #e5dfa5;
}

.recipe-method .card {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card li {
    margin-bottom: 1em;
}

#btn-recipe-card {
    background-color: white;
}
