{% extends 'base.html' %}

{% block heading %}
All Recipes
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-4">
        {% for recipe in recipe_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="{% url 'recipe_detail' recipe.slug %}" class="btn" style="background-color: white;">
                    {% if 'placeholder' in recipe.recipe_photo.url %}
                    <img src="https://res.cloudinary.com/dbnrqjev4/image/upload/v1690840285/pexels-fauxels-3184183_vgtkgv.jpg" class="card-img-top" alt="...">
                    {% else %}
                    <img src="{{ recipe.recipe_photo.url }}" class="card-img-top recipe-img-home" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{ recipe.title }}</h3>
                        <h4 class="card-subtitle">By: {{ recipe.author }}</h4>
                    </div>
                </a>
                <div class="card-footer">
                    <p class="card-text text-muted h6">
                        {{ recipe.date_created | date:'M d, Y' }}
                        <span class="float-end">
                            {% with recipe.comments.count as total_comments %}
                            <i class="fa-regular fa-comment"></i>
                            {{ total_comments }}&nbsp;&nbsp;
                            {% endwith %}
                            <i class="fa-sharp fa-regular fa-heart"></i>
                            &nbsp;{{ recipe.favourited_count }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row mt-4">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}