{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row text-center">
        <h1>{{ recipe.title }}</h1>
        <h5>By: {{ recipe.author }}</h5>
    </div>

    <div class="row justify-content-center">
        <div class="col align-self-center text-center">
            <div class="row mb-2">
            {% with comments.count as total_comments %}
                <span>
                    <i class="fa-regular fa-comment"></i>
                    {{ total_comments }}&nbsp;
            {% endwith %}
                    &nbsp;<i class="fa-sharp fa-regular fa-heart"></i>
                    {{ recipe.favourited_count }}
                </span>
            </div>
        {% if user.is_authenticated %}
        <form action="{% url 'recipe_favourited' recipe.slug %}" method="POST" class="d-inline">
            {% csrf_token %}
            {% if favourited %}            
            <button class="btn btn-light mb-2" type="submit" name="favourited_id" value="{{ recipe.slug }}">
                <span>Favourited</span>
                <i class="fa-sharp fa-solid fa-heart"></i>
            </button>
            {% else %}            
            <button class="btn btn-light mb-2" type="submit" name="favourited_id" value="{{ recipe.slug }}">
                <span>Add to Favourites</span>
                <i class="fa-sharp fa-regular fa-heart"></i>
            </button>
            {% endif %}
        </form>
        {% endif %}
        </div>
    </div>

    <div class="row justify-content-sm-center text-center">
        <div class="col-lg-6 col-md-8 col-sm-10 mb-5 p-0">
            {% if 'placeholder' in recipe.recipe_photo.url %}
            <img src="https://res.cloudinary.com/dbnrqjev4/image/upload/v1690840285/pexels-fauxels-3184183_vgtkgv.jpg" class="card-img-top" alt="...">
            {% else %}
            <img src="{{ recipe.recipe_photo.url }}" class="card-img-top" alt="...">
            {% endif %}
            <h3>Description</h3>
            {{ recipe.description | safe }}
            <div class="row">
                <div class="col-sm-5">
                    <div class="card">
                        <h3>Ingredients</h3>
                        {{ recipe.ingredients | safe }}
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="card">
                        <h3>Instructions</h3>
                        {{ recipe.instructions | safe }}
                    </div>
                </div>
            </div>
            
            <div class="row mt-3 mx-0">
                <div class="card p-0">
                    <h3>Comments</h3>
                    <hr>
                    <div class="card-body text-start">
                        {% for comment in comments %}
                        <p class="fw-bold">
                            {{ comment.name }}
                            <span class="fs-6 fw-light">commented on {{ comment.date_created }}</span>
                        </p>
                        {% if comment.approved %}
                        <p>
                            {{ comment.body }}
                        </p>
                        {% elif comment.edited and comment.approved %}
                        <p class="fs-6 fw-light fst-italic">
                            Edited on {{ comment.date_edited }}
                        </p>
                        {% elif comment.edited and not comment.approved %}
                        <p class="fs-6 fst-italic">
                            This comment has been edited and is awaiting approval
                        </p>
                        {% else %}
                        <p class="fs-6 fst-italic">
                            This comment is awaiting approval
                        </p>
                        {% endif %}

                        {% if user.is_authenticated %}
                            {% if comment.name == user.username %}
                            <a class="btn btn-light" href="{% url 'comment_update_form' comment.id %}">Edit Comment</a>
                            <a class="btn btn-light" href="{% url 'comment_confirm_delete' comment.id %}">Delete Comment</a>
                            {% endif %}
                        {% endif %}
                        
                        <hr>
                        {% endfor %}

                        {% if user.is_authenticated %}
                        <h5 class="text-center">Leave a comment</h5>
                            <p>Commenting as: <span class="fw-bold">{{ user.username }}</span></p>
                            <form method="POST">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button class="btn btn-light mt-3" type="submit">Submit</button>
                            </form>
                        {% else %}
                        <h5>Sign in to comment</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}